
     <div class="row main-row">

      <div class="col-md-2 fs">
   
      <div class="row fs-toolbar mb-3">
       
     <a routerLink = "/folder"><button type="button" data-toggle="tooltip" data-placement="top" title="View your folder" class="btn col-md-3 create--folder fa fa-folder-open-o"></button></a>
     <a routerLink = "/add"><button type="button" data-toggle="tooltip" data-placement="top" title="create new file" class="btn col-md-3 create--note fa fa-file"></button></a>
     
      
    </div>
    
    
   
</div>
<div id="para">
    <p>
           This is a personal site and my vision after completing this is to convert this personal one to a community for students,
        since now classes going as online so everyone has some doubts and difficulties in problem solving so a platform to ask 
        queries and any student or teacher can answer for that or can solve it and give solutions for their queries.It is a working
        one but need some more modifications and features,so will go on with this.
    </p>
</div>  
</div>